<style>
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800;900&display=swap');
</style>

<h1>がんばる応援カレンダー</h1>
<% if user_signed_in? %>
  <%= link_to 'カレンダー新規作成', new_calendar_path, class: '' %>
  <table>
    <thead>
      <th>カレンダー名</th>
    </thead>
    <tbody>
      <% @calendars.each do |calendar| %>
        <td><%= link_to calendar.title, calendar_path(calendar), class: '' %></td>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
<% else %>
  <%= link_to 'ログイン', user_session_path, class: "login" %>
  <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
<% end %>
<p></p>
