<p id="notice"><%= notice %></p>
<style>
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800;900&display=swap');
</style>
<h1><%= @calendar.title %></h1>

<%= month_calendar(events: @stamps) do |date,stamp| %>


  <% if stamp.present? %>
    <%= link_to date.day, stamp_path(calendar_id: @calendar.id, date: date), method: :delete, class: '' %>
    <h2 style="color:#F62A00">天才!!</h2>
  <% else %>
    <%= link_to date.day, stamps_path(calendar_id: @calendar.id, date: date), method: :post, class: '' %>
  <% end %>
<% end %>
<h2><%= link_to "トップページに戻る", root_path %></h2>
